#jsalarmclock {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
}

#jsalarmclock div {
    margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn {
    width: 150px;
    font-size: 13px;
}

#jsalarmclock span {
    margin: auto;
}


/*
#jsalarmclock input.notification {
    margin: auto;
}*/

body {
    background-color: lightblue;
}